:root{
    --backgroundColor: #767676;  
    --lightColor: #008b8b;
    --fontColor: #022c2c;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

body{
    position: relative;
    background-color: var(--backgroundColor) ;
    margin-left: 5px;
    color: var(--fontColor);
}

header{
    display: block;
    flex: 1 0 100%;
    text-align: start;
    padding: 20px;
    background-color: var(--lightColor);
    position: relative;
}


nav{
    display: flex;
    flex-direction: row;
    flex: 1 0 100%;
    justify-content: space-between;
    text-align: center;
    background-color: var(--lightColor);
}

nav ul{
    display: flex;
    justify-content: space-between;
    text-decoration-style: none;
}

nav ul li{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}


figure{
    display: flex;
    flex: 1 0 100%;
    width: 20%;
    position: relative;
}

.about{
    font-size: 20px;
    display:block;
    position: relative;
    margin-right: 50px;
    flex: 1 0 100%;
    margin-left: 400px;
    margin-top: -200px;
    background-color: antiquewhite;
    border: 1px solid var(--lightColor);
    border-radius: 10px;
    padding: 2px;
}


footer{
    position: relative;
    margin-top: 800px;
   text-align: center;

}


.profile {
    border-radius: 4%;
    width: 100%;
    margin: 25px;
    border: 1px solid var(--lightColor);
    box-shadow:   
    2.8px 2.8px 2.2px rgba(2, 44, 44, 0.02),
    6.7px 6.7px 5.3px rgba(2, 44, 44, 0.032),
    12.5px 12.5px 10px rgba(2, 44, 44, 0.038),
    22.3px 22.3px 17.9px rgba(2, 44, 44, 0.044),
    41.8px 41.8px 33.4px rgba(2, 44, 44, 0.054),
    100px 100px 80px rgba(2, 44, 44, 0.07);
}
.work{
    position: relative;
    flex-direction: row;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid var(--lightColor);
}

.newest{
    justify-content: center;
    display: flex;

}

.newest img{
    width: 40%

}

.past{
    justify-content: center;
    display: flex;
}
.past img{
    justify-content: center;
    display: inline-block;
    padding: 5px;
    width:20%;   
}

